
<div id="topconstant">
  <i class="material-icons bar2" id="dehaze">dehaze</i>
  <p class="Verizon bar">Verizon</p> 
  <p class="time bar">7:17AM</p>    
  <p class="percent bar">100%</p>         
  <i class="material-icons bar2" id="wifi">signal_wifi_4_bar</i>
  <i class="material-icons bar2" id="signal">signal_cellular_alt</i>
  <i class="material-icons bar2" id="bluetooth">bluetooth</i>
  <i class="material-icons bar2 rotate-90" id="battery">battery_full</i>
</div>

<nav>
  <ul>
    <li>
      <a class="megahorn" routerLink="channel" [class.activated]="currentUrl == '/channel'">
        <i href="https://www.freeiconspng.com/img/309"><img src="https://www.freeiconspng.com/uploads/megaphone--free-tools-and-utensils-icons-15.png" width="30" class="mega svg"/></i>
      </a>
      <a routerLink="chat" [class.activated]="currentUrl == '/chat'">
        <i class="material-icons svg">message</i>
      </a>
      <a routerLink="home" [class.activated]="currentUrl == '/home'">
        <i class="material-icons svg">home</i>
      </a>
      <a routerLink="contacts" [class.activated]="currentUrl == '/contacts'">
        <i class="material-icons svg">contacts</i>
      </a>
      <a routerLink="tools" [class.activated]="currentUrl == '/tools'">
        <i class="material-icons svg">apps</i>
      </a>
    </li>
  </ul>
</nav>