<div id="topbar">
        <div class="titletext">EverLeagues</div> 
</div>
<div id="main">
    <!--<div class="transparent" (click)="show=!show">hi</div> -->
  
    <div class="grid">
        <div class="small"></div>
        <div class="box pink a" *ngIf="showa">You have an upcoming deadline <span class="greenn">2017 Tax Return Documents</span> due in 2 days</div>
        <div class="a transparent" (click)="showa=!showa">You have an upcoming deadline 2017 Tax Return Documents due in 2 days</div>
        <div class="box pink b" *ngIf="showb"><span class="greenn">Susan Schwinn</span> has requested your e-signature on <span class="greenn"></span>2017 Tax Return</div>
        <div class="b transparent" (click)="showb=!showb"><span class="greenn">Susan Schwinn</span> has requested your e-signature on <span class="greenn">2017 Tax Return</span></div>
        <div class="box green c" *ngIf="showc"><span class="greenn">Peter Wilson</span> assigned you to a <span class="greenn">new task</span> "follow up on last week's new clients a..."</div>
        <div class="c transparent" (click)="showc=!showc"><span class="greenn">Peter Wilson</span> assigned you to a <span class="greenn">new task</span> "follow up on last week's new clients a..."</div>
        <div class="box green d" *ngIf="showd"><span class="greenn">Mary Hughes</span> messaged you "attached are newest documents for the 2017 Ta..."</div>
        <div class="d transparent" (click)="showd=!showd"><span class="greenn">Mary Hughes</span> messaged you "attached are newest documents for the 2017 Ta..."</div>
        <div class="box green e" *ngIf="showe"><span class="greenn">Terry Hughes</span> has joined EverLeagues. <span class="greenn"comment>Invite them to your channel</span> or <span class="greenn"comment>send th...</span></div>
        <div class="e transparent" (click)="showe=!showe"><span class="greenn">Terry Hughes</span> has joined EverLeagues. <span class="greenn"comment>Invite them to your channel</span> or <span class="greenn"comment>send th...</span></div>
        <div class="box green f" *ngIf="showf">You were mentioned in a <span class="greenn">comment</span> in <span class="greenn"comment>Parker Randall Global</span> "Will you be av...</div>
        <div class="f transparent" (click)="showf=!showf">You were mentioned in a <span class="greenn"comment>comment</span> in <span class="greenn"comment>Parker Randall Global</span> "Will you be av...</div>
    </div>
    <!--<div class="grid">
        
        <div class="box pink ">You have an upcoming deadline 2017 Tax Return Documents due in 2 days</div>
        <div class="box pink ">Susan Schwinn has requested your e-signature on 2017 Tax Return</div>
        <div class="box green ">Peter Wilson assigned you to a new task "follow up on last week's new clients a..."</div>
        <div class="box">Mary Hughes messaged you "attached are newest documents for the 2017 Ta..."</div>
        <div class="box">Terry Hughes has joined EverLeagues. Invite them to your channel or send th...</div>
        <div class="box green">You were mentioned in a comment in Parker Rnadall Global "Will you be av...</div>
    </div>-->
        
        <!--<div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>-->
</div>

<div id="information">
    <div class="pad">
        <h3>Home</h3>
            <p>This is the home page, the first place a user will be when they open EverLeagues. This is where all important notifications will reside.</p>
    </div>
        
</div>